<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">

	<uses-permission android:name="horizonos.permission.SET_VR_DEVICE_PARAMS"/>
	<uses-permission android:name="horizonos.permission.READ_VR_DEVICE_PARAMS"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>
	<uses-permission android:name="com.oculus.permission.IMPORT_EXPORT_IOT_MAP_DATA"/>
	<uses-permission android:name="com.oculus.permission.USE_SCENE"/>
	<uses-permission android:name="com.oculus.permission.BOUNDARY_VISIBILITY"/>
	<uses-permission android:name="com.oculus.permission.USE_COLOCATION_DISCOVERY_API"/>
	<uses-permission android:name="com.oculus.permission.FACE_TRACKING" />
	<uses-permission android:name="com.oculus.permission.EYE_TRACKING"/>


	<uses-feature android:name="com.oculus.software.body_tracking" android:required="true"/>
	<uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true"/>
	<uses-feature android:name="com.oculus.feature.RENDER_MODEL" android:required="true"/>
	<uses-feature android:name="oculus.software.face_tracking" android:required="false"/>
	<uses-feature android:name="oculus.software.eye_tracking" android:required="false"/>

	<application android:label="@string/app_name" android:icon="@mipmap/app_icon" android:allowBackup="false">
		<meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
		<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
		<meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only" />
		<meta-data android:name="com.oculus.features.OPENXR" android:value="true"/>

		<activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:launchMode="singleTask" android:name="com.unity3d.player.UnityPlayerActivity" android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

	<uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />

</manifest>
